ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.cloud-list-item {
    list-style: none;
    background-color: rgba(44, 62, 80,1.0);
    color: #f9f9f9;
    border-radius: 5px;
    width: 40%;
    padding: 1%;
    margin:  1%;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
}

.cloud-list-item:hover {
    background-color: rgba(44, 62, 80, 0.5);
    cursor: pointer;
}

h7 {
    font-size: 100%;
    display: block
}

span {
    font-size: 75%
}

@media only screen
and (max-device-width : 768px) { 
    .cloud-list-item {
        width: 90%;
    }
}