nav-container {
    width: 80%;
    display: block
}

h1 {
    font-size: 1.5em;
    text-align: center
}

ul {
    text-align: center
}

.nav-items {
    display:inline;
    padding: 5px;
    text-align: center
}

.home, .library {
    text-decoration: none;
    color: rgba(230, 126, 34,1.0);
    font-weight: 700;
    text-transform: uppercase;
}

.home:hover, .library:hover {
    cursor: pointer;
    color: rgba(230, 126, 34, 0.5);
}