body {
  font-family: sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility;
 font-smooth: always;
  margin: 0;
  padding: 0;
}

.word-cloud-outer {
 align-items: center; 
 bottom: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 left: 0;
 padding: 20px 0;
 position: absolute;
 right: 0;
 top: 200px;
 z-index: -1;
}

.word-cloud-inner {
 display: flex;
 flex-direction: column;
 height: 100%;
 max-width: 1000px;
 width: 100%;
}

.tag-cloud {
 flex: 1;
 order: 1;
}

.tag-cloud > div {
 transition: 1.4s;
}

.edit-form {
  font-family: sans-serif;
  order: 2;
  width: 100%;
}

.edit-form form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editWordCloud {
  margin-bottom: 10px;
  background-color: rgba(230, 126, 34,1.0);
  border: 0px;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
  width: 200px;
}

#editWordCloud:hover {
  cursor: pointer;
  background-color: rgba(230, 126, 34, 0.5);
}

.thumbs-down, .thumbs-up {
  text-decoration: none;
  color: rgba(230, 126, 34,1.0);
}

.thumbs-up {
  margin-right: 5px;
}

.thumbs-down:hover, .thumbs-up:hover {
  cursor: pointer;
  color: rgba(230, 126, 34, 0.5)
}

.score {
  font-weight: 700
}

.buttons-div div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

#regenerateWordCloud {
  margin-bottom: 5px;
}